body {
  background: linear-gradient(135deg, #0077ff, #00d4ff);
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.container {
  margin-top: 120px;
}

h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  margin-bottom: 40px;
}

button {
  background: #001aff;
  border: none;
  padding: 20px 35px;
  margin: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 12px;
}

button:hover {
  background: #000edb;
}

h2 {
  margin-top: 50px;
  font-size: 42px;
  letter-spacing: 2px;
}

/* DARK MODE */
body.dark {
  background: #121212;
  color: #f1f1f1;
}

body.dark button {
  background: #333;
}

body.dark button:hover {
  background: #555;
}
